<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP_HOST} ^www.sudokuplay.ru$ [NC]
    RewriteRule ^(.*)$ http://sudokuplay.ru/$1 [R=301,L]
</IfModule>
